<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
  <meta charset="UTF-8">
  <title>Uploader</title>
</head>
<body>
  <h2>Select a File to Upload</h2>
  <h3>File For Upload(not yet implimented)</h3>
  <input type="file" ng-model="files" multiple>
  <h3>File Name(testing db connection)</h3>
  <input type="text" ng-model="filename">
  <div my-upload filename="{{filename}}" files="{{files}}"></div>
</body>
<script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.9/angular-animate.min.js"></script>
<script src="/scripts/myUpload.js"></script>
</html>
