<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/upload">
    <button type="submit">Upload Files</button>  
  </form>
  <form action="/list">
    <button type="submit">File List</button>
  </form>
</body>
</html>
